body{
    background: url("gasolinaOuAlcool.png");
    background-size: 100%;
    color: #e2dfdf;
}

.buttons{
    font-size:10xp;
    height: 7%;
     text-transform: uppercase;
     font-weight:400;
     border:none;
     padding: 6px;
     cursor:pointer;
     background:#58af9b;
     color:#fff;
     box-shadow:0 5px 0 #71ffde ;
}

 .buttons:hover{
     font-size:14xp;
     text-transform: uppercase;
     font-weight:400;
     border:none;
     padding: 6px;
     cursor:pointer;
     background:#71ffde ;
     color:#fff;
     box-shadow:0 5px 0 #58af9b;
 }

 .buttons:active{
     font-size:14xp;
     text-transform: uppercase;
     font-weight:400;
     border:none;
     padding: 6px;
     cursor:pointer;
     position: relative;
     top:5px;
     box-shadow:none;
 }